@import url(font.css);
@import url(reset.css);

/* for index.css */

body {
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'IBMPlexMono';
    background: black;

}
nav {
    position: relative;
    color: white;
    text-align: center;
    opacity: 0;
    animation: nav 3s ease forwards;
    margin-top: 40vh;
}
.nav {
    margin: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.btn {
    user-select: none;
    cursor: pointer; 
}
a {
    all: unset;
}


/* KEYFRAMES */

@keyframes nav {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
 